body {
  color: #555;
}

.cover {
  color: #fff;
  background: #682a84;
  background: -moz-linear-gradient(top, #241668 0%, #682a84 41%, #d26578 80%, #ffa376 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #241668), color-stop(41%, #682a84), color-stop(80%, #d26578), color-stop(100%, #ffa376));
  background: -webkit-linear-gradient(top, #241668 0%, #682a84 41%, #d26578 80%, #ffa376 100%);
  background: -o-linear-gradient(top, #241668 0%, #682a84 41%, #d26578 80%, #ffa376 100%);
  background: -ms-linear-gradient(top, #241668 0%, #682a84 41%, #d26578 80%, #ffa376 100%);
  background: linear-gradient(to bottom, #241668 0%, #682a84 41%, #d26578 80%, #ffa376 100%);
}

.cover {
  border-bottom: 1px solid #e7e7e7;
}

.cover .menu {
  background: #4D347B;
  padding: 15px 0;
}

.cover .menu nav {
  text-align: center;
}

.cover .menu nav a {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  margin: 0 16px;
  font-weight: 400;
}

.cover .menu nav a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}

.cover .masthead {
  padding-top: 30px;
  padding-bottom: 20px;
}

.cover .masthead h1 {
  font-size: 28px;
  margin-top: 0;
}

.cover .masthead h1 small {
  text-transform: uppercase;
  color: #fff;
  vertical-align: middle;
  font-size: 50%;
  letter-spacing: 2px;
  font-weight: 500;
  margin-left: 10px;
}

.cover .masthead .featured {
  color: #ffa376;
}

.cover .masthead .title {
  text-align: center;
  margin-top: 0;
}

.cover .masthead .video {
  margin-top: 30px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.2);
  height: 315px;
  display: inline-block;
}

.cover .cover-bg-img {
  width: 100%;
}

.cover .main-goal h2 {
  text-transform: uppercase;
  font-size: 24px;
}

.cover .main-goal em {
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

@media (min-width: 768px) {
  .cover .masthead .title {
    text-align: left;
  }
}

.cover .masthead .logos {
  text-align: center;
  vertical-align: middle;
}

.cover .masthead .logos img {
  height: 20px;
}

@media (min-width: 768px) {
  .cover .masthead .logos img {
    height: 40px;
  }
}

section {
  padding: 60px 0;
  border-bottom: 1px solid #e7e7e7;
  font-weight: 300;
}

main section:last-child {
  border-bottom: 0 none;
}

section h2 {
  margin-top: 0;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
}

section h3 {  
  font-weight: 400;
}

section .fa {
  color: #bbb;
  display: block;
  font-size: 70px;
  margin-top: 100px;
}

.goal {
  font-size: 24px;
}

.pathway {
  background: linear-gradient(90deg, #fff 50%, #f6f6f6 50%);
  font-size: 18px;
}

.pathway h3 {
  margin: 40px 0 30px;
}

.pathway .row {
  margin-bottom: 30px;
}

.pathway .frame {
  width: 100%;
}