<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="wrapper">
      <header class="cover">
        <div class="container masthead">
          <div class="row">
            <div class="col-sm-12 title">
              <h1>
                EATDD
                <small><span class="featured">E</span>mpirical <span class="featured">A</span>ssessment of <span class="featured">T</span>est-<span class="featured">D</span>riven <span class="featured">D</span>evelopment</small>
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <div class="main-goal text-center">
                <h2>Our Main Goal is…</h2>
                <em>" pinpoint the effects of applying TDD through solid empirical evidence collected from industry and academia."</em>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <img src="{{ "/img/cover_bg.png" | prepend: site.baseurl }}" alt="Collaboration" class="cover-bg-img">
            </div>
            <div class="col-sm-6 video text-center">
              <iframe width="100%" height="315" src="http://placehold.it/560x315" frameborder="0" allowfullscreen></iframe>
              <small>Some video content/slideshow</small>
            </div>
          </div>
          <div class="row logos">
            <div class="col-xs-6">
              <a href="http://www.aka.fi/en" target="_blank"><img src="{{ "/img/aka.png" | prepend: site.baseurl }}" alt="Academy of Finland"></a>
            </div>
            <div class="col-xs-6">
              <a href="http://www.oulu.fi/yliopisto/" target="_blank"><img src="{{ "/img/oulu.png" | prepend: site.baseurl }}" alt="University of Oulu"></a>
            </div>
          </div>
        </div>
        <div class="menu">
          <div class="container">
            {% include menu.html %}
          </div>
        </div>
      </header>
      <main>
        {{ content }}
      </main>
      <div class="push"></div>
    </div>
    {% include footer.html %}
  </body>
</html>
