<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="wrapper">
      <header class="cover">
        <div class="container masthead">
          <div class="row">
            <div class="col-sm-12 title">
              <h1>
                VALUE
                <small>Impro<span class="featured">v</span>ing decision-m<span class="featured">a</span>king re<span class="featured">l</span>ating to software-intensive prod<span class="featured">u</span>cts and s<span class="featured">e</span>rvices development</small>
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <div class="main-goal text-center">
                <h2>Our Main Goal is…</h2>
                <em>"To provide a mechanism for companies to forecast the overall value associated with a decision relating to software/product management and development."</em>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <img src="{{ "/img/cover_bg.png" | prepend: site.baseurl }}" alt="Collaboration" class="cover-bg-img">
            </div>
            <div class="col-sm-6 video text-center">
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/VQpdJKkiagg" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="row logos">
            <div class="col-xs-4">
              <a href="http://tekes.fi" target="_blank"><img src="{{ "/img/tekes.png" | prepend: site.baseurl }}" alt="Tekes"></a>
            </div>
            <div class="col-xs-4">
              <a href="http://www.oulu.fi/yliopisto/" target="_blank"><img src="{{ "/img/oulu.png" | prepend: site.baseurl }}" alt="University of Oulu"></a>
            </div>
            <div class="col-xs-4">
              <a href="http://fidipro.fi" target="_blank"><img src="{{ "/img/fidipro.png" | prepend: site.baseurl }}" alt="FiDiPro"></a>
            </div>
          </div>
        </div>
        <div class="menu">
          <div class="container">
            {% include menu.html %}
          </div>
        </div>
      </header>
      <main>
        {{ content }}
      </main>
      <div class="push"></div>
    </div>
    {% include footer.html %}
  </body>
</html>
