<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="wrapper">
      <header class="site">
        <div class="container">
          {% include menu.html %}
          <h1><a href="{{ "/" | prepend: site.baseurl }}">EATDD <small><span class="featured">E</span>mpirical <span class="featured">A</span>ssessment of <span class="featured">T</span>est-<span class="featured">D</span>riven <span class="featured">D</span>evelopment</small></a></h1>
        </div>
      </header>
      <main>
        {{ content }}
      </main>
      <div class="push"></div>
    </div>
    {% include footer.html %}
  </body>
</html>
